In [1]:
import pandas as pd

In [26]:
# 1. Load the dataset and explore the variables.
data= pd.read_csv("files_for_lab\customer_churn.csv")
display(data.head())
display(data.shape)
print("Tenure value counts:\n" , data['tenure'].value_counts())
print("Senior Citizen value counts:\n" , data['SeniorCitizen'].value_counts())
print("Monthly Charges value counts:\n" , data['MonthlyCharges'].value_counts())

data.describe()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

(7043, 21)

Tenure value counts:
 tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64
Senior Citizen value counts:
 SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64
Monthly Charges value counts:
 MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [29]:
#2. We will try to predict variable `Churn` using a logistic regression on variables `tenure`, `SeniorCitizen`,`MonthlyCharges`.
#3. Split the Dataset into X ('tenure', 'SeniorCitizen', 'MonthlyCharges') and y ('Churn')
# Performing X-y split
y = data['Churn']
X = data.select_dtypes(include='number')

# Peforming train-test-split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

In [34]:
# 4. Build the logistic regression model.
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=17, solver='lbfgs',
                  multi_class='multinomial')

classification.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial', random_state=17)

In [40]:
# Making predictions on the test set
y_test_pred = classification.predict(X_test)
#print(y_test_pred)

In [46]:
# 5. Evaluate the model.
from sklearn.metrics import accuracy_score
classification.score(X_test, y_test)

0.8034066713981547

In [ ]:
# 6. Even a simple model will give us more than 70% accuracy. Why?
# This could be due to the choice of variables chosen for the regression model.
# They may contain relevant information that helps the model make accurate predictions.

In [42]:
#7. **Synthetic Minority Oversampling TEchnique (SMOTE)** is an over sampling technique based on nearest neighbors that adds new points between existing points. Apply `imblearn.over_sampling.SMOTE` to the dataset. Build and evaluate the logistic regression model. Is it there any improvement?
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=17,k_neighbors=3)
X_train_SMOTE,y_train_SMOTE = sm.fit_resample(X_train,y_train)

In [48]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train_SMOTE, y_train_SMOTE)
y_pred_test = lr.predict(X_test)

print("The accuracy in the TEST set is: {:.2f}".format(accuracy_score(y_test,y_pred_test)))

The accuracy in the TEST set is: 0.74

In [ ]:
#The oversampling technique has worsened the accuracy